<ebay-badge count="44" limit="1"/>
<ebay-badge count="100" limit="1"/>
<ebay-badge count="10" limit="1"/>
<ebay-badge count="100" limit="2"/>
<ebay-badge count="1400" limit="2"/>
<ebay-badge count="44" limit="2"/>
<ebay-badge count="4444" limit="3"/>
<ebay-badge count="4444" limit="4"/>
